---
import NavLink from "./NavLink.astro";
import ThemeToggle from "./ThemeToggle.astro";
import siteConfig from "../data/site-config";

const navLinks = siteConfig.headerNavLinks || [];
const { showHeader = true } = Astro.props;
---

<div class="top-0 z-10 pt-6" style="position: var(--header-position)">
    <div
        class="w-full px-4 sm:px-6 lg:px-8"
        style="position: var(--header-inner-position); top: var(--header-top, theme(spacing.6))"
    >
        <div class="mx-auto max-w-[85rem] lg:px-8">
            <div class="relative">
                <div class="mx-auto">
                    <header class="flex items-center justify-between gap-4">
                        <div class="flex flex-1">
                            <!-- Logo or Title -->
                            {
                                showHeader &&
                                siteConfig.logo &&
                                siteConfig.logo?.src ? (
                                    <a
                                        href="/"
                                        class="h-10 w-10 rounded-full overflow-hidden"
                                    >
                                        <img
                                            src={siteConfig.logo.src}
                                            alt={siteConfig.logo.alt || "Logo"}
                                            class="h-full w-full object-cover"
                                        />
                                    </a>
                                ) : (
                                    <a
                                        class="text-xl font-semibold dark:text-white"
                                        href="/"
                                        aria-label="Brand"
                                    >
                                        {siteConfig.title}
                                    </a>
                                )
                            }
                        </div>

                        <!-- Mobile Menu Button -->
                        <div class="md:hidden">
                            <button
                                type="button"
                                class="group flex items-center rounded-full bg-white/90 px-4 py-2 text-sm font-medium text-zinc-800 shadow-lg shadow-zinc-800/5 ring-1 ring-zinc-900/5 backdrop-blur dark:bg-zinc-800/90 dark:text-zinc-200 dark:ring-white/10"
                                data-hs-overlay="#hs-basic-modal"
                                aria-label="Toggle navigation"
                            >
                                Menu
                                <svg
                                    viewBox="0 0 8 6"
                                    aria-hidden="true"
                                    class="ml-3 h-auto w-2 stroke-zinc-500 group-hover:stroke-zinc-700 dark:group-hover:stroke-zinc-400"
                                >
                                    <path
                                        d="M1.75 1.75 4 4.25l2.25-2.5"
                                        fill="none"
                                        stroke-width="1.5"
                                        stroke-linecap="round"
                                        stroke-linejoin="round"></path>
                                </svg>
                            </button>
                        </div>

                        <!-- Navigation Links -->
                        <nav class="hidden md:flex md:flex-1 md:justify-center">
                            <ul
                                class="flex rounded-full bg-white/90 px-3 text-sm font-medium text-zinc-800 shadow-lg shadow-zinc-800/5 ring-1 ring-zinc-900/5 backdrop-blur dark:bg-zinc-800/90 dark:text-zinc-200 dark:ring-white/10"
                            >
                                {
                                    navLinks.length > 0 &&
                                        navLinks.map((link) => (
                                            <li>
                                                <NavLink
                                                    href={link.href}
                                                    class="block px-3 py-2 transition hover:text-teal-500 dark:hover:text-teal-400"
                                                >
                                                    {link.text}
                                                </NavLink>
                                            </li>
                                        ))
                                }
                            </ul>
                        </nav>

                        <div
                            class="hs-overlay hidden size-full fixed top-0 start-0 z-[60] overflow-x-hidden overflow-y-auto pointer-events-none"
                        >
                            <div
                                class="hs-overlay-open:opacity-100 hs-overlay-open:duration-500 opacity-0 transition-all sm:max-w-lg sm:w-full m-3 sm:mx-auto"
                            >
                                <div class="pointer-events-auto">
                                    <div
                                        class="fixed inset-x-4 top-8 z-50 origin-top rounded-3xl bg-white p-8 ring-1 ring-zinc-900/5 dark:bg-zinc-900 dark:ring-zinc-800"
                                    >
                                        <div
                                            class="flex flex-row-reverse items-center justify-between"
                                        >
                                            <button
                                                type="button"
                                                class="-m-1 p-1"
                                                data-hs-overlay="#hs-basic-modal"
                                                aria-label="Close menu"
                                            >
                                                <svg
                                                    viewBox="0 0 24 24"
                                                    aria-hidden="true"
                                                    class="h-6 w-6 text-zinc-500 dark:text-zinc-400"
                                                    ><path
                                                        d="m17.25 6.75-10.5 10.5M6.75 6.75l10.5 10.5"
                                                        fill="none"
                                                        stroke="currentColor"
                                                        stroke-width="1.5"
                                                        stroke-linecap="round"
                                                        stroke-linejoin="round"
                                                    ></path></svg
                                                ></button
                                            >
                                            <h2
                                                class="text-sm font-medium text-zinc-600 dark:text-zinc-400"
                                            >
                                                Navigation
                                            </h2>
                                        </div><nav class="mt-6">
                                            <ul
                                                class="-my-2 divide-y divide-zinc-100 text-base text-zinc-800 dark:divide-zinc-100/5 dark:text-zinc-300"
                                            >
                                                {
                                                    navLinks.map((link) => (
                                                        <li>
                                                            <a
                                                                class="block py-2"
                                                                href={link.href}
                                                            >
                                                                {link.text}
                                                            </a>
                                                        </li>
                                                    ))
                                                }
                                            </ul>
                                        </nav>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Theme Toggle Button -->
                        <div class="flex justify-end md:flex-1">
                            <ThemeToggle />
                        </div>
                    </header>
                </div>
            </div>
        </div>
    </div>
</div>
