---
import { type CollectionEntry } from "astro:content";
import ArrowRight from "../icons/ArrowRight.astro";
import FormattedDate from "./FormattedDate.astro";

type Props = {
    post: CollectionEntry<"blog">;
    class?: string;
    headingLevel?: "h2" | "h3";
};

const { post, class: className, headingLevel = "h3" } = Astro.props;
const { title, publishDate, updatedDate, excerpt, tags, seo } = post.data;
const TitleTag = headingLevel;

console.log(post.data);
---

<a
    class:list={[
        "group rounded-xl overflow-hidden dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600",
        className,
    ]}
    href={`/blog/${post.slug}/`}
>
    <div class="sm:flex">
        {
            seo?.image && (
                <div class="flex-shrink-0 relative rounded-xl overflow-hidden w-full h-[200px] sm:w-[250px] sm:h-[350px]">
                    <img
                        src={seo.image.src}
                        alt={seo.image.alt || `Image for ${title}`}
                        class="group-hover:scale-105 transition-transform duration-500 ease-in-out size-full absolute top-0 start-0 object-cover rounded-xl grayscale"
                    />
                </div>
            )
        }
        <div class="grow">
            <div class="p-4 flex flex-col h-full sm:p-6">
                <div class="mb-3">
                    <p
                        class="mb-5 inline-flex items-center gap-1.5 py-1.5 px-3 rounded-md text-xs font-medium bg-gray-100 text-gray-800 dark:bg-gray-800 dark:text-gray-200"
                    >
                        Business insight
                    </p>
                </div>
                <TitleTag
                    class="text-xl font-semibold text-main group-hover:underline group-hover:decoration-dashed group-hover:underline-offset-4 group-hover:decoration-custom-pink"
                >
                    {title}
                </TitleTag>
                <div class="mt-1 text-sm leading-normal">
                    <FormattedDate date={publishDate} />
                    {
                        updatedDate && (
                            <>
                                {" "}
                                <span>
                                    (Updated on{" "}
                                    <FormattedDate date={updatedDate} />)
                                </span>
                            </>
                        )
                    }
                </div>
                {
                    excerpt && (
                        <div class="mt-3 text-sm leading-normal">{excerpt}</div>
                    )
                }
                <div class="mt-5 sm:mt-auto">
                <span
                    class="mt-4 inline-flex items-center gap-x-1 group-hover:underline group-hover:decoration-dashed group-hover:underline-offset-4 group-hover:decoration-custom-pink font-medium"
                >
                    Read More <ArrowRight
                        class="ml-2 w-4 h-4 fill-dark dark:fill-white"
                    />
                </span>
                </div>
            </div>
        </div>
    </div>
</a>
