---
import { type CollectionEntry } from "astro:content";
import ArrowRight from "../icons/ArrowRight.astro";

type Props = {
    project: CollectionEntry<"projects">;
    class?: string;
    headingLevel?: "h2" | "h3";
};

const { project, class: className, headingLevel = "h3" } = Astro.props;
const { title, description, seo } = project.data;
const TitleTag = headingLevel;
---

<a
    class:list={[
        "group relative block rounded-xl dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600",
        className,
    ]}
    href={`/projects/${project.slug}/`}
>
    {
        seo?.image && (
            <div class="flex-shrink-0 relative rounded-xl overflow-hidden w-full h-[350px] before:absolute before:inset-x-0 before:size-full before:bg-gradient-to-t before:from-gray-900/[.7] before:z-[1]">
                <img
                    src={
                        seo.image.src.startsWith("/")
                            ? seo.image.src
                            : `/${seo.image.src}`
                    }
                    alt={seo.image.alt || `Image for ${title}`}
                    class="size-full absolute top-0 start-0 object-cover group-hover:scale-105 transition-transform duration-500 ease-in-out grayscale"
                />
            </div>
        )
    }
    <div class="absolute top-0 inset-x-0 z-10">
        <div class="p-4 flex flex-col h-full sm:p-6">
            <!-- Avatar -->
        </div>
    </div>

    <div class="absolute bottom-0 inset-x-0 z-10">
        <div class="flex flex-col h-full p-4 sm:p-6">
            <TitleTag
                class="text-lg sm:text-3xl font-semibold text-white group-hover:underline group-hover:decoration-dashed group-hover:underline-offset-4 group-hover:decoration-custom-pink"
            >
                {title}
            </TitleTag>
            {
                description && (
                    <div class="mt-2 text-white/[.8]">{description}</div>
                )
            }
        </div>
    </div>
</a>
