---
import { type CollectionEntry, getCollection } from "astro:content";
import BaseLayout from "../../layouts/BaseLayout.astro";
import ProjectPreview from "../../components/ProjectPreview.astro";
import { sortItemsByDateDesc } from "../../utils/data-utils";

export async function getStaticPaths() {
    const projects = (await getCollection("projects")).sort(
        sortItemsByDateDesc,
    );
    const projectCount = projects.length;

    return projects.map((project, index) => ({
        params: { slug: project.slug },
        props: {
            project,
            prevProject: index > 0 ? projects[index - 1] : null,
            nextProject: index < projectCount - 1 ? projects[index + 1] : null,
        },
    }));
}

type Props = {
    project: CollectionEntry<"projects">;
    prevProject: CollectionEntry<"projects"> | null;
    nextProject: CollectionEntry<"projects"> | null;
};

const { project, prevProject, nextProject } = Astro.props;
const { title, description, seo } = project.data;
const { Content } = await project.render();
---

<BaseLayout
    title={seo?.title ?? title}
    description={seo?.description ?? description}
    image={seo?.image}
    pageType="article"
    showHeader={false}
>
    <article class="max-w-3xl px-4 pt-6 lg:pt-10 pb-12 sm:px-6 lg:px-8 mx-auto">
        <header class="space-y-3 mb-8">
            <h1>{title}</h1>
            <p class="text-lg">{description}</p>
        </header>
        {
            seo?.image && (
                <figure>
                    <img
                        class="max-w-none object-cover rounded-xl w-full h-96 sm:h-144 md:h-192 lg:h-256 xl:h-320"
                        src={
                            seo.image.src.startsWith("/")
                                ? import.meta.env.BASE_URL + seo.image.src
                                : import.meta.env.BASE_URL + `/${seo.image.src}`
                        }
                        alt={seo.image.alt}
                    />
                    <figcaption class="mt-3 text-sm text-center">
                        {seo.image.alt}
                    </figcaption>
                </figure>
            )
        }
        <div class="max-w-none prose-lg">
            <Content />
        </div>
    </article>
    <div class="my-16 sm:my-24">
        <h2 class="mb-12 text-xl font-sans sm:mb-16 sm:text-2xl">View Next</h2>
        <div class="grid lg:grid-cols-2 gap-6">
            {nextProject && (
                <ProjectPreview
                    project={nextProject}
                    class="mb-10 sm:mb-12"
                    headingLevel="h3"
                />
            )}
            {prevProject && (
                <ProjectPreview
                    project={prevProject}
                    class="mb-10 sm:mb-12"
                    headingLevel="h3"
                />
            )}
        </div>
    </div>
</BaseLayout>
